node-red/flows.json
[{"id":"5b86558a.d8954c","type":"tab","label":"Restart Modem","disabled":false,"info":""},{"id":"4c49b5b8.50756c","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"42441be6.c4cda4","type":"server","z":"","name":"Home Assistant"},{"id":"d48e6cdf.cc09","type":"ha-wait-until","z":"5b86558a.d8954c","name":"Wait for network signal","server":"42441be6.c4cda4","outputs":2,"entityId":"binary_sensor.network","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"5","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":490,"y":320,"wires":[["1e6360d0.44efff"],["83158635.33bc68"]]},{"id":"83158635.33bc68","type":"api-call-service","z":"5b86558a.d8954c","name":"Turn off modem","server":"42441be6.c4cda4","version":"1","debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.modem","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":310,"y":140,"wires":[["81403c6b.13829"]]},{"id":"97fb5b1d.e087c8","type":"api-call-service","z":"5b86558a.d8954c","name":"Turn on modem","server":"42441be6.c4cda4","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.modem\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":670,"y":140,"wires":[["fee83a15.3ae118"]]},{"id":"81403c6b.13829","type":"delay","z":"5b86558a.d8954c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":140,"wires":[["97fb5b1d.e087c8"]]},{"id":"618b3241.b059cc","type":"api-current-state","z":"5b86558a.d8954c","name":"Check if modem is back on","server":"42441be6.c4cda4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.modem","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":260,"wires":[["d48e6cdf.cc09"],["97fb5b1d.e087c8"]]},{"id":"fee83a15.3ae118","type":"delay","z":"5b86558a.d8954c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":200,"wires":[["618b3241.b059cc"]]},{"id":"1e6360d0.44efff","type":"api-call-service","z":"5b86558a.d8954c","name":"Send iOS Notification","server":"42441be6.c4cda4","service_domain":"notify","service":"notify","data":"{ \"message\":\"Network restored\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":360,"wires":[[]]},{"id":"1e02cbc3.8d96a4","type":"server-state-changed","z":"4c49b5b8.50756c","name":"Front Door Open","server":"42441be6.c4cda4","version":1,"entityidfilter":"binary_sensor.front_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":120,"wires":[["dd9ab34.c3dd95"],[]]},{"id":"dd9ab34.c3dd95","type":"api-current-state","z":"4c49b5b8.50756c","name":"Anthony Away","server":"42441be6.c4cda4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.anthony_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":120,"wires":[["a779a52e.66e9e8","72046bd2.dfbc84"],[]]},{"id":"72046bd2.dfbc84","type":"api-call-service","z":"4c49b5b8.50756c","name":"Notify Anthony","server":"42441be6.c4cda4","version":"1","debugenabled":false,"service_domain":"notify","service":"notify","entityId":"","data":"{ \"message\":\"Front Door Open\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":148,"wires":[["3f9d0b56.ebfd74"]]},{"id":"3f9d0b56.ebfd74","type":"ha-wait-until","z":"4c49b5b8.50756c","name":"Wait for Close","server":"42441be6.c4cda4","outputs":2,"entityId":"binary_sensor.front_door_sensor","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"60","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":700,"y":148,"wires":[[],["ba0bd8bd.68f998"]]},{"id":"ba0bd8bd.68f998","type":"api-call-service","z":"4c49b5b8.50756c","name":"Notify Anthony","server":"42441be6.c4cda4","service_domain":"notify","service":"notify","data":"{ \"message\":\"Front Door Still Open\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":148,"wires":[[]]},{"id":"a779a52e.66e9e8","type":"api-call-service","z":"4c49b5b8.50756c","name":"Turn on camera","server":"42441be6.c4cda4","version":1,"debugenabled":false,"service_domain":"camera","service":"turn_on","entityId":"camera.living_room","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":88,"wires":[[]]},{"id":"8c6a142d.9afaa8","type":"server-state-changed","z":"5b86558a.d8954c","name":"Network Sensor","server":"42441be6.c4cda4","version":1,"entityidfilter":"binary_sensor.network","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":80,"wires":[["62f5f496.b6241c"]]},{"id":"62f5f496.b6241c","type":"trigger","z":"5b86558a.d8954c","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"60","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":290,"y":80,"wires":[["1317ea0e.0875a6"]]},{"id":"cabd61c.a8156a","type":"comment","z":"5b86558a.d8954c","name":"Check if network goes down for 60 seconds","info":"","x":258,"y":40,"wires":[]},{"id":"1317ea0e.0875a6","type":"switch","z":"5b86558a.d8954c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":80,"wires":[["83158635.33bc68"]]},{"id":"5bf8bece.c46e3","type":"server-state-changed","z":"5b86558a.d8954c","name":"Modem","server":"42441be6.c4cda4","version":1,"entityidfilter":"switch.modem","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":590,"y":80,"wires":[["ef4b4e22.6fd47"]]},{"id":"ef4b4e22.6fd47","type":"trigger","z":"5b86558a.d8954c","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":730,"y":80,"wires":[["e80c992c.5a5c48"]]},{"id":"9166dc4c.1986a","type":"comment","z":"5b86558a.d8954c","name":"Check if modem has been off for 5 minutes","info":"","x":732,"y":40,"wires":[]},{"id":"e80c992c.5a5c48","type":"switch","z":"5b86558a.d8954c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":870,"y":80,"wires":[["97fb5b1d.e087c8"]]},{"id":"e9be9967.e0a528","type":"comment","z":"5b86558a.d8954c","name":"Network Restored","info":"","x":801,"y":320,"wires":[]}]