node-red/flows.json
[{"id":"5b86558a.d8954c","type":"tab","label":"Restart Modem","disabled":false,"info":""},{"id":"4c49b5b8.50756c","type":"tab","label":"Front Door","disabled":false,"info":""},{"id":"42441be6.c4cda4","type":"server","z":"","name":"Home Assistant"},{"id":"eb57c317.85903","type":"server-state-changed","z":"5b86558a.d8954c","name":"Network Down","server":"42441be6.c4cda4","version":1,"entityidfilter":"binary_sensor.network","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":180,"y":100,"wires":[["83158635.33bc68"],[]]},{"id":"d48e6cdf.cc09","type":"ha-wait-until","z":"5b86558a.d8954c","name":"Wait for network signal","server":"42441be6.c4cda4","outputs":2,"entityId":"binary_sensor.network","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"5","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":560,"y":300,"wires":[["1e6360d0.44efff"],["83158635.33bc68"]]},{"id":"83158635.33bc68","type":"api-call-service","z":"5b86558a.d8954c","name":"Turn off modem","server":"42441be6.c4cda4","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.modem\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":120,"wires":[["81403c6b.13829"]]},{"id":"97fb5b1d.e087c8","type":"api-call-service","z":"5b86558a.d8954c","name":"Turn on modem","server":"42441be6.c4cda4","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.modem\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":120,"wires":[["fee83a15.3ae118"]]},{"id":"81403c6b.13829","type":"delay","z":"5b86558a.d8954c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":120,"wires":[["97fb5b1d.e087c8"]]},{"id":"618b3241.b059cc","type":"api-current-state","z":"5b86558a.d8954c","name":"Check if modem is back on","server":"42441be6.c4cda4","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.modem","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":560,"y":240,"wires":[["d48e6cdf.cc09"],["97fb5b1d.e087c8"]]},{"id":"fee83a15.3ae118","type":"delay","z":"5b86558a.d8954c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":180,"wires":[["618b3241.b059cc"]]},{"id":"1e6360d0.44efff","type":"api-call-service","z":"5b86558a.d8954c","name":"Send iOS Notification","server":"42441be6.c4cda4","service_domain":"notify","service":"notify","data":"{ \"message\":\"Network restored\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":320,"wires":[[]]},{"id":"1e02cbc3.8d96a4","type":"server-state-changed","z":"4c49b5b8.50756c","name":"Front Door Open","server":"42441be6.c4cda4","version":1,"entityidfilter":"binary_sensor.front_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":120,"wires":[["dd9ab34.c3dd95"],[]]},{"id":"dd9ab34.c3dd95","type":"api-current-state","z":"4c49b5b8.50756c","name":"Anthony Away","server":"42441be6.c4cda4","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.anthony_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":320,"y":120,"wires":[["b1c26b8f.02fd38","72046bd2.dfbc84"],[]]},{"id":"72046bd2.dfbc84","type":"api-call-service","z":"4c49b5b8.50756c","name":"Notify Anthony","server":"42441be6.c4cda4","service_domain":"notify","service":"notify","data":"{ \"message\":\"Front Door Open\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":160,"wires":[["3f9d0b56.ebfd74"]]},{"id":"b1c26b8f.02fd38","type":"api-call-service","z":"4c49b5b8.50756c","name":"Turn Camera On","server":"42441be6.c4cda4","service_domain":"camera","service":"turn_on","data":"{\"entity_id\":\"camera.living_room\"}","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":120,"wires":[[]]},{"id":"3f9d0b56.ebfd74","type":"ha-wait-until","z":"4c49b5b8.50756c","name":"Wait for Close","server":"42441be6.c4cda4","outputs":2,"entityId":"binary_sensor.front_door_sensor","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"60","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":700,"y":160,"wires":[[],["ba0bd8bd.68f998"]]},{"id":"ba0bd8bd.68f998","type":"api-call-service","z":"4c49b5b8.50756c","name":"Notify Anthony","server":"42441be6.c4cda4","service_domain":"notify","service":"notify","data":"{ \"message\":\"Front Door Still Open\" }","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":160,"wires":[[]]},{"id":"f9a6f375.91143","type":"poll-state","z":"5b86558a.d8954c","name":"Modem Off 5 Minutes","server":"42441be6.c4cda4","version":1,"updateinterval":"5","updateIntervalUnits":"minutes","outputinitially":false,"outputonchanged":false,"entity_id":"switch.modem","state_type":"str","halt_if":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"x":520,"y":60,"wires":[["97fb5b1d.e087c8"],[]]}]